/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <dt-bindings/led/led.h>
#include "offsetkey.dtsi"


/ {
	chosen {
        zmk,underglow = &led_strip;
        zmk,kscan = &kscan0;
    };
};

&default_transform {
	col-offset = <9>;
};

&pinctrl {

    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 13)>; // WS2812_VEXT_DATA
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 13)>;
            low-power-enable;
        };
    };
};

#include "rgb.dtsi"

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    row-gpios
	    = <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
	    , <&gpio0 23 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
	    , <&gpio0 30  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
	    , <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
	    ;
    col-gpios
        =  <&gpio0 2  GPIO_ACTIVE_HIGH>
        ,  <&gpio0 21  GPIO_ACTIVE_HIGH>
        , <&gpio1 9  GPIO_ACTIVE_HIGH>
        , <&gpio0 14  GPIO_ACTIVE_HIGH>
        , <&gpio0 12  GPIO_ACTIVE_HIGH>
        , <&gpio0 8  GPIO_ACTIVE_HIGH>  
        , <&gpio0 19  GPIO_ACTIVE_HIGH>  
        , <&gpio0 16  GPIO_ACTIVE_HIGH>  
        , <&gpio1 5  GPIO_ACTIVE_HIGH>  
        ;
};
&gpio1 {  // 注意使用gpio1因为P1.x通常属于GPIO1
    my_gpio: my_gpio {
        gpio-hog;
        gpios = <3 GPIO_ACTIVE_HIGH>;  // P1.00对应引脚0
        output-high;                   // 默认高电平
    };
};

/* 在睡眠状态下设置低电平 */
/ {
    behaviors {
        slp_my_gpio: behavior_sleep_my_gpio {
            compatible = "zmk,behavior-gpio";
            label = "SLEEP_MY_GPIO";
            gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>; // P1.00
            behavior-sleep; // 标记为睡眠行为
            #gpio-cells = <2>;
        };
    };

    sleep: sleep {
        sleep_my_gpio {
            behavior = <&slp_my_gpio>;
            low; // 睡眠时低电平
        };
    };
};
